@model IEnumerable<Aula13a.Models.Country>

@{
    ViewData["Title"] = "Countries";
}

<h1>Countries</h1>

<p>
    <a asp-action="CreateCountry">Create New</a>
</p>
@if (TempData["msgResult"] != null)
{
    <div style="color: red; font-size: medium; font-weight: bold;">@TempData["msgResult"]</div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Continent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capital)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Flag)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Continent.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCountry", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteCountry",
                    new { id = item.Id }, new { onclick = "if(confirm('Are you sure?)){return true;}else{return false;}"}
                    )
            </td>
        </tr>
}
    </tbody>
</table>
