@model IEnumerable<Aula13a.Models.Continent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    If there are no continents listed, they must be create directly in the database. <br />
    To manage Countries, use the <b>menu</b> option.
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Countries)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Countries.Count)
            </td>
        </tr>
        }
    </tbody>
</table>
