@model IEnumerable<Aula6.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Students list</h1>

@foreach (var property in new string[] { "byNumber", "byName" })
{
    @if (ViewBag.property == property)
    {
        <span style="color: red; font-weight: bold;">@property &nbsp;|&nbsp;</span>
    }
    else
    {
        <span><a asp-route="orderby" asp-route-property="@property" asp-route-order="@ViewBag.order" >@property</a> &nbsp;|&nbsp;</span>
    }
}

<br /><br />

@foreach (var order in new string[] { "Ascending", "Descending" })
{
    @if (ViewBag.order == order)
    {
        <span style="color: red; font-weight: bold;">@order &nbsp;|&nbsp;</span>
    }
    else
    {
        <span><a asp-route="orderby" asp-route-property="@ViewBag.property" asp-route-order="@order" >@order</a> &nbsp;|&nbsp;</span>
    }
}
<partial name="Listing" model="Model" />